.breadcrumb {
    margin: 16px 24px;
    font-size: 16px;
  }
  
  .card {
    margin-bottom: 15px;
    border-radius: 10px;
  }
  
  .card-image {
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .card-content {
    flex: 1;
    padding: 10px;
    font-size: 16px;
  }
  
  .card-title {
    font-size: 28px;
  }
  
  .tag {
    margin-bottom: 5px;
  }
  
  .size {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .price {
    color: red;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .tenant-info {
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    background: #e1d5ca;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    font-size: 16px;
  }
  
  .feedback {
    margin-top: 5px;
    background: #e1d5ca;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
  }
  
  .feedback-button {
    float: right;
    color: black;
    background-color: #f7b543;
  }
  